|---------------------------------------#{nl}
- for line in completed
  |[#{irc_nick}: #{area} completed ] #{line}#{nl}
- for line in inprogress
  |[#{irc_nick}: #{area} inprogress ] #{line}#{nl}
- for line in impediments
  |[#{irc_nick}: #{area} impediments ] #{line}#{nl}
|---------------------------------------#{nl}
